.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 48px auto;
    max-width: 250px;

    &__heading {
        margin-bottom: 32px;
    }
}

.form {
    &__label p {
        margin-top: 16px;
    }

    &__input {
        margin-bottom: 0;
    }

    &__valid {
        font-size: 12px;
        color: red;
        display: inline-block;
    }
}

