.artists-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 16px auto;
    padding: 0 48px;
    flex-wrap: wrap;

    h1 {
        margin-right: 32px;
    }
}

@media (max-width: 450px) {
    .artists-header {
        flex-direction: column;
        text-align: center;
        h1 {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
  }