<div class="item-detail" data-aos="fade-up" data-aos-easing="linear"
data-aos-duration="700" data-aos-offset="100">
    <div class="item-detail__image">
        <img src={{album.coverUrl}} alt="">
    </div>
    <div class="item-detail__info">
        <h1>{{album.title}}</h1>
        <h2 class="artist-link" [routerLink]="['/artist/', artistId]">{{artistName}}</h2>
        <p>Music genre: {{album.genre}}</p>
        <p>Year: {{album.year}}</p>
        <div class="item-detail__buttons">
            <button class="button" [routerLink]="['/album', album._id, 'edit-album']">Edit</button>
            <button class="button" *ngIf="!removeCheck" (click)="clickRemove()" >Delete</button>
            <div class="item-detail__checkDelete" *ngIf="removeCheck">
                <span>Are you sure you want to delete the album?</span>
                <button class="button" (click)="removeAlbum()" >Yes, delete</button>
                <button class="button" (click)="clickRemove()" >No</button>
            </div>
        </div>
    </div>
</div>