<div class="albums-header">
    <h1>Albums</h1>
</div>
<div class="items-container">
    <div class="item" *ngFor="let album of albums" data-aos="fade-up" data-aos-easing="linear"
    data-aos-duration="700" data-aos-offset="100" data-aos-once="true">
        <a href="/" [routerLink]="['/album/', album._id]">
            <div class="item__image">
                <img src={{album.coverUrl}} alt="">
            </div>
            <div class="item__info">
                <h2>{{album.title}}</h2>

                <!-- If you delete an artist his albums become orphans, yo may wanna delete 
                    them or leave them but red color points them out -->
                    
                <p [ngStyle]="{'color': album.artistName ? 'inherit' : 'red'}">
                    {{album.artistName ? album.artistName : "Missing artist"}}
                </p>
            
            </div>
        </a>
    </div>
</div>
