.albums-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 16px auto;
    padding: 0 48px;

    h1 {
        margin-right: 32px;
    }
}