<app-message [msg]="msg"></app-message>
<div class="albums-header">
    <h1>Albums</h1>
</div>
<div class="items-container">
    <div class="item" *ngFor="let album of albumsByPage" data-aos="fade-in" data-aos-easing="ease-in-out"
    data-aos-duration="500" data-aos-offset="200" data-aos-once="true">
        <a href="/" [routerLink]="['/album/', album._id]">
            <div class="item__image">
                <img src={{album.coverUrl}} alt="">
            </div>
            <div class="item__info">
                <h2>{{album.title}}</h2>

                <!-- If you delete an artist his albums become orphans, yo may wanna delete 
                    them or leave them but red color points them out -->
                    
                <p [ngStyle]="{'color': album.artistName ? 'inherit' : 'red'}">
                    {{album.artistName ? album.artistName : "Missing artist"}}
                </p>
            
            </div>
        </a>
    </div>
</div>
<div class="pagination">
    <span class="pagination__page">Pag. {{page}}</span>
    <button class="pagination__change" [disabled]="page <= 1" (click)="pageDown()" [ngClass]="{'disabled': page <= 1}">
        <img src="/assets/icons/iconmonstr-arrow-28.svg" alt="" style="transform: rotate(180deg);">
    </button>
    <button 
        class="pagination__change" 
        (click)="pageUp()" 
        [disabled]="albumsByPage && albumsByPage.length < 12" 
        [ngClass]="{'disabled': albumsByPage && albumsByPage.length < 12}"
    >
        <img src="/assets/icons/iconmonstr-arrow-28.svg" alt="">
    </button>
</div>
