<div class="form-container">
    <form class="form" action="/" method="post" [formGroup]="newArtist" (ngSubmit)="chooseCrud()">
        <label class="form__label" for="name">
            <p>Name:</p>
            <input class="form__input" type="text" name="name" formControlName="name" placeholder="name" id="name">
            <span class="form__valid" *ngIf="!newArtist.get('name').valid && submitted">* Name required</span>
        </label>
        
        <label class="form__label" for="photoUrl">
            <p>Picture url:</p>
            <input class="form__input" type="text" name="photoUrl" formControlName="photoUrl" placeholder="Picture url" id="photoUrl">
            <span *ngIf="!newArtist.get('photoUrl').valid && submitted" class="form__valid">
                * {{newArtist.get('photoUrl').errors.required ? 'Picture required' : 'Not valid url'}}
            </span>
        </label>
        
        <label class="form__label" for="birthdate">
            <p>Birthdate:</p>
            <input class="form__input" type="date" name="birthdate" formControlName="birthdate" placeholder="birthdate" id="birthdate">
            <span *ngIf="(!newArtist.get('birthdate').valid || datesError.birth) && submitted" class="form__valid">
                * {{datesError.birth ? datesError.birth : 'Birthdate required'}}
            </span>
        </label>
        
        <label class="form__label" for="deathDate">
            <p>Death date:</p>
            <input class="form__input" type="date" name="deathDate" formControlName="deathDate" placeholder="deathDate" id="deathDate">
            <span class="form__valid" *ngIf="datesError.death && submitted">* {{datesError.death}}</span>
        </label>
        
        <!-- <button type="submit">Add album</button> -->
        <button class="button" type="submit">{{button}}</button>
        <span *ngIf="message" class="error">* {{message}}</span>
    </form>
</div>
