<div class="item-detail">
    <div class="item-detail__image">
        <img src={{artist.photoUrl}} alt="">
    </div>
    <div class="item-detail__info">
        <h1>{{artist.name}}</h1>
        <p>Date of birth: {{artist.birthdate | date:'fullDate' }}</p>
        <p>Date of death: {{artist.deathDate ? artist.deathDate : '/'}}</p>
        <div class="item-detail__buttons">
            <button class="button" [routerLink]="['/artist', artist._id, 'add-album']">Add album</button>
            <button class="button" [routerLink]="['/artist', artist._id, 'edit-artist']">Edit</button>
            <button class="button" (click)="removeArtist()" >Delete</button>

        </div>
    </div>
</div>

<div class="items-container">
    <div class="item" *ngFor="let album of albumsOfArtist">
        <a href="/" [routerLink]="['/album/', album._id]">
            <div class="item__image">
                <img src={{album.coverUrl}} alt="">
            </div>
            <div class="item__info">
                <h2>{{album.title}}</h2>
            </div>
        </a>
    </div>
</div>