<div class="item-detail" data-aos="fade-up" data-aos-easing="linear"
data-aos-duration="700" data-aos-offset="100">
    <div class="item-detail__image">
        <img src={{artist.photoUrl}} alt="">
    </div>
    <div class="item-detail__info">
        <h1>{{artist.name}}</h1>
        <p>Date of birth: {{artist.birthdate | date:'fullDate' }}</p>
        <p>Date of death: {{artist.deathDate ? (artist.deathDate | date:'fullDate') : 'Still alive'}}</p>
        <div class="item-detail__buttons">
            <button class="button" [routerLink]="['/artist', artist._id, 'add-album']">
                Add album
            </button>
            <button class="button" [routerLink]="['/artist', artist._id, 'edit-artist']">
                Edit
            </button>
            <button class="button" *ngIf="!removeCheck" (click)="clickRemove()" >Delete</button>
            <div class="item-detail__checkDelete" *ngIf="removeCheck">
                <span>Are you sure you want to delete the artist?</span>
                <button class="button" (click)="removeArtist()" >Yes, delete</button>
                <button class="button" (click)="clickRemove()" >No</button>
            </div>
        </div>
    </div>
</div>

<div class="items-container" *ngIf="albumsOfArtist && albumsOfArtist.length !== 0">
    <div class="item" *ngFor="let album of albumsOfArtist" data-aos="fade-up" data-aos-easing="linear"
    data-aos-duration="700" data-aos-offset="100" data-aos-once="true">
        <a href="/" [routerLink]="['/album/', album._id]">
            <div class="item__image">
                <img src={{album.coverUrl}} alt="">
            </div>
            <div class="item__info">
                <h2>{{album.title}}</h2>
            </div>
        </a>
    </div>
</div>